{% extends '::base_sin_menu.html.twig' %}
{% block title %}Buscar recurso - Soga App{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            Buscar
            <small>Destinatario</small>
        </h1>
    </section>    
    <section class="content"> 
        <script language="javascript">
            function selTercero(identificacion, nombreCorto, nombre1, nombre2, apellido1, apellido2, direccion, barrio, telefono, correo, destino)
            {
                opener.document.getElementById('form_identificacion').value = identificacion;        
                opener.document.getElementById('form_destinatario').value = nombreCorto;
                opener.document.getElementById('form_nombre1').value = nombre1;
                opener.document.getElementById('form_nombre2').value = nombre2;
                opener.document.getElementById('form_apellido1').value = apellido1;
                opener.document.getElementById('form_apellido2').value = apellido2;
                opener.document.getElementById('form_direccion').value = direccion;
                opener.document.getElementById('form_barrio').value = barrio;
                opener.document.getElementById('form_telefono').value = telefono;
                opener.document.getElementById('form_correo').value = correo;
                opener.document.getElementById('form_ciudadDestinoRel').value = destino;
                opener.document.getElementById('form_destinatario').focus();
                self.close();
            }
        </script>    
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}                
        <div class="panel panel-default">
            <div class="panel-heading">Filtros de busqueda</div>
            <div class="panel-body">

                <div class="form-group form-group-sm">  
                    <label for="form_TxtNombre" class="col-sm-3 control-label">Nombre:</label>
                    <div class="col-sm-9">                  
                        {{ form_widget(form.TxtNombre , { 'attr': {'class': 'form-control','autofocus':'autofocus', 'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()'} }) }}
                    </div>                   
                </div>  

                <div class="form-group form-group-sm">  
                    <label for="form_TxtCodigo" class="col-sm-3 control-label">Codigo:</label>
                    <div class="col-sm-9">                  
                        {{ form_widget(form.TxtCodigo, { 'attr': {'class': 'form-control'} }) }}
                    </div>      
                </div>   
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>                                                    
            </div>
        </div>        
        <table  class="table table-striped table-bordered table-condensed table-hover">            
            <tr>
                <th>Id</th>                
                <th>Identificacion</th>                          
                <th>Nombre</th>                                                
                <th></th>
            </tr>
            {% for arDestinatarios in arDestinatarios %}
                <tr>
                    <td><input type="hidden" name="LblCodigo[]" value="{{ arDestinatarios.codigoDestinatarioPk }}">{{ arDestinatarios.codigoDestinatarioPk }} </td>                    
                    <td>{{ arDestinatarios.identificacion }}</td>
                    <td>{{ arDestinatarios.nombreCorto }}</td>                                                                
                    <td style="text-align: center"><a href="javascript:selTercero('{{ arDestinatarios.identificacion }}', '{{ arDestinatarios.nombreCorto }}', '{{ arDestinatarios.nombre1 }}', '{{ arDestinatarios.nombre2 }}', '{{ arDestinatarios.apellido1 }}', '{{ arDestinatarios.apellido2 }}', '{{ arDestinatarios.direccion }}', '{{ arDestinatarios.barrio }}', '{{ arDestinatarios.telefono }}', '{{ arDestinatarios.correo }}', '{{ arDestinatarios.codigoCiudadFk }}')" ><img src="{{ asset('imagenes/bootstrap/glyphicons_198_ok.png') }}" width=20 height=20></a></td>                                                
                </tr>
            {% endfor %} 
        </table>                                         


        <!-- Botones Menu Items -->
        <div class="btn-toolbar">            
            <div class="btn-group" style="float: left">
                <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arDestinatarios.getTotalItemCount }}</span></div>                        
            </div>     
            <div class="btn-group btn-sm" style="float: left;margin-left: 0px;padding-top: 0px;">
                {{ knp_pagination_render(arDestinatarios) }}       
            </div>            
        </div>          
        <!-- Fin Botones Menu Items -->
        {{ form_rest(form) }}
        {{ form_end(form) }}   
        <br/><br/><br/><br/>
    </section>
{% endblock %}
