{% extends '::base.html.twig' %}
{% block content %}
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-9 main-chart">
                {% for arNoticia in arNoticias %}
                      <h2>{{ arNoticia.titulo }}</h2>
                      {{ arNoticia.noticia }}
                      <br><br>                  
                      <hr>
                {% endfor %}
            </div>


            <!-- **********************************************************************************************************************************************************
            RIGHT SIDEBAR CONTENT
            *********************************************************************************************************************************************************** -->                  

            <div class="col-lg-3 ds">

                <!-- USERS ONLINE SECTION -->
                <h3>SUCURSALES</h3>
                <!-- First Member -->
                <div class="desc">
                    <div class="thumb">
                        <img class="img-circle" src="{{ asset('recursos/img/ui-divya.jpg') }}" width="35px" height="35px" align="">
                    </div>
                    <div class="details">
                        <p><a href="#">Principal Bucaramanga</a><br/>
                        <muted>Carrera 17 #59-51, Bodega 2 Interior 5, Barrio el Palenque, Girón, Santander</muted>
                        <muted>(7) 646-3232</muted>
                        <muted>310-2014444</muted>
                        <muted>servicioalcliente@cotrascalsas.com</muted>
                        </p>
                    </div>
                </div>
                <!-- Second Member -->
                <div class="desc">
                    <div class="thumb">
                        <img class="img-circle" src="{{ asset('recursos/img/ui-sherman.jpg') }}" width="35px" height="35px" align="">
                    </div>
                    <div class="details">
                        <p><a href="#">Sucursal Bogotá</a><br/>
                        <muted>Av Calle 24 #95-12 Bodega 18, Parque industrial portos, Fontibón, Bogotá</muted>
                        <muted>310-3265989 / 314-2471027</muted>
                        </p>
                    </div>
                </div>
                <!-- Third Member -->
                <div class="desc">
                    <div class="thumb">
                        <img class="img-circle" src="{{ asset('recursos/img/ui-danro.jpg') }}" width="35px" height="35px" align="">
                    </div>
                    <div class="details">
                        <p><a href="#">Sucursal Medellín</a><br/>
                        <muted>Calle 29D #65–02, Zona Industrial de Belen, Medellín, Antioquia</muted>
                        <muted>312-3019579 / 312-3020764</muted>
                        </p>
                    </div>
                </div>
                <!-- Fourth Member -->
                <div class="desc">
                    <div class="thumb">
                        <img class="img-circle" src="{{ asset('recursos/img/ui-zac.jpg') }}" width="35px" height="35px" align="">
                    </div>
                    <div class="details">
                        <p><a href="#">Sucursal Cúcuta</a><br/>
                        <muted>Calle 33A #4E-41, Barrio Santa Rosa de Lima o Juana Paula, Los patios, Norte de Santander</muted>
                        <muted>320-8844667 / 320-3502010</muted>
                        </p>
                    </div>
                </div>
                <!-- Fifth Member -->
                <div class="desc">
                    <div class="thumb">
                        <img class="img-circle" src="{{ asset('recursos/img/ui-sam.jpg') }}" width="35px" height="35px" align="">
                    </div>
                    <div class="details">
                        <p><a href="#">Sucursal Valledupar</a><br/>
                        <muted>Carrera 6B #22-25, Barrio San Jorge, Valledupar, Cesar</muted>
                        <muted>320-8807401 / 320-9045648</muted>
                        </p>
                    </div>
                </div>
                <div class="desc">
                    <div class="thumb">
                        <img class="img-circle" src="{{ asset('recursos/img/ui-sam.jpg') }}" width="35px" height="35px" align="">
                    </div>
                    <div class="details">
                        <p><a href="#">Sucursal Barranquilla</a><br/>
                        <muted>Calle 30 #19–81, Barrio Boyacá, Barranquilla, Atlántico</muted>
                        <muted>320-9250557 / 310-2822736</muted>
                        </p>
                    </div>
                </div>
                <!-- CALENDAR-->
                <div id="calendar" class="mb">
                    <div class="panel green-panel no-margin">
                        <div class="panel-body">
                            <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                                <div class="arrow"></div>
                                <h3 class="popover-title" style="disadding: none;"></h3>
                                <div id="date-popover-content" class="popover-content"></div>
                            </div>
                            <div id="my-calendar"></div>
                        </div>
                    </div>
                </div><!-- / calendar -->

            </div><!-- /col-lg-3 -->
        </div><! --/row -->
    </section>    
{% endblock %}
