{% extends '::base.html.twig' %}
{% block content %}
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Movimiento: Lista -> despacho</h3>
        <div class="row mt">
            <div class="col-lg-12">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Lista despachos</h4>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Fecha</th>
                                    <th class="numeric">Cant</th>
                                    <th class="numeric">Peso</th>
                                    <th class="numeric">Declarado</th>                                    
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for arDespacho in arDespachos %}
                                <tr>
                                    <td>{{ arDespacho.codigoDespachoPk  }}</td>
                                    <td>{{ arDespacho.fecha |date('Y-m-d')  }}</td>
                                    <td class="numeric" style="text-align: right">{{ arDespacho.cantidad | number_format(0, '.', ',') }}</td>
                                    <td class="numeric" style="text-align: right">{{ arDespacho.peso | number_format(0, '.', ',') }}</td>
                                    <td class="numeric" style="text-align: right">{{ arDespacho.declarado | number_format(0, '.', ',') }}</td>                                    
                                    <td><a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('tte_movimiento_despacho_guia_agregar', {'codigoDespacho': arDespacho.codigoDespachoPk}) }}', 'buscarGuias', 600, 1200)">Agregar</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </section>
                </div><!-- /content-panel -->
            </div><!-- /col-lg-4 -->
        </div><!-- /row -->
        <br />
        <div class="btn-toolbar" style="float: right">
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="{{ path('tte_movimiento_despacho_nuevo', {'codigoDespacho': 0}) }}">Nuevo</a>
            </div>

        </div>
    </section><! --/wrapper -->
{% endblock %}
