{% extends '::base.html.twig' %}
{% block content %}
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Base: Lista -> empresa</h3>
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="row mt">
            <div class="col-lg-12">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Lista empresas</h4>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for arEmpresa in arEmpresas %}
                                <tr>
                                    <td>{{ arEmpresa.codigoEmpresaPk  }}</td>
                                    <td>{{ arEmpresa.nombre | default('')  }}</td>                                                                  
                                    <td style="text-align: center"><a href="{{ path('tte_base_empresa_nuevo', {'codigoEmpresa': arEmpresa.codigoEmpresaPk }) }}"><img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" width=20 height=20 title="Editar el registro"></a></td>
                                    <td style="text-align: center"><a href="{{ path('tte_base_empresa_detalle', { 'codigoEmpresa': arEmpresa.codigoEmpresaPk }) }}"><img src="{{ asset('imagenes/bootstrap/glyphicons_152_new_window.png') }}" width=22 height=22></a></td>                                                                                        
                                    <td style="text-align: center"><input type="checkbox" name="ChkSeleccionar[]" value="{{ arEmpresa.codigoEmpresaPk }}" /></td>                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </section>
                </div><!-- /content-panel -->
            </div><!-- /col-lg-4 -->			
        </div><!-- /row -->
        <br />
        <div class="btn-toolbar" style="float: right">
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="{{ path('tte_base_empresa_nuevo', {'codigoEmpresa': 0}) }}">Nuevo</a>                
            </div> 
        </div>            
        {{ form_rest(form) }}
        {{ form_end(form) }}            
    </section><! --/wrapper -->
{% endblock %}
