{% extends '::base.html.twig' %}
{% block content %}
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Movimiento: Lista -> guia</h3>
        <div class="row mt">
            <div class="col-lg-12">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Lista guias</h4>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Consecutivo</th>
                                    <th>Destinarario</th>
                                    <th class="numeric">Cant</th>
                                    <th class="numeric">Peso</th>
                                    <th class="numeric">Declarado</th>
                                    <th class="numeric">Flete</th>
                                    <th class="numeric">Manejo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for arGuia in arGuias %}
                                <tr>
                                    <td>{{ arGuia.codigoGuiaPk  }}</td>
                                    <td>{{ arGuia.consecutivo  }}</td>
                                    <td>{{ arGuia.destinatario  }}</td>
                                    <td class="numeric" style="text-align: right">{{ arGuia.cantidad | number_format(0, '.', ',') }}</td>
                                    <td class="numeric" style="text-align: right">{{ arGuia.peso | number_format(0, '.', ',') }}</td>
                                    <td class="numeric" style="text-align: right">{{ arGuia.declarado | number_format(0, '.', ',') }}</td>
                                    <td class="numeric" style="text-align: right">{{ arGuia.flete | number_format(0, '.', ',') }}</td>
                                    <td class="numeric" style="text-align: right">{{ arGuia.manejo | number_format(0, '.', ',') }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </section>
                </div><!-- /content-panel -->
            </div><!-- /col-lg-4 -->			
        </div><!-- /row -->
        <br />
        <div class="btn-toolbar" style="float: right">
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="{{ path('tte_movimiento_guia_nuevo', {'codigoGuia': 0}) }}">Nuevo</a>                
            </div>            

        </div>         
    </section><! --/wrapper -->
{% endblock %}
